<!DOCTYPE html>
<html>
  <head>
    <script type="text/javascript" src="./scripts/plugins/jquery.min.js"></script>
    <script type="text/javascript" src="./scripts/plugins/socket.io.js"></script>
    <script type="text/javascript" src="./scripts/header.js"></script>
    <script src="https://cdn.tinymce.com/4/tinymce.min.js"></script>
    <script type="text/javascript" src="./scripts/addPost.js"></script>
    
    <title>Add Post</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
  </head>
  <body>
    <div id="header"></div>
    <div id=Title>
      <h1>Add a New Post to Rosepoint</h1>
    </div>
    <div class="container">
      <form class="form-horizontal" name="addPostForm">
        <div class="form-group">
            <h3>Post Title</h3>
              <div class="input-group">
                <input id = "postTitle" name="postTitleName" type="text" class="form-control" placeholder="Title" aria-describedby="basic-addon1">
              </div>
            <h3>Post Body</h3>
              <form method="post">
                <textarea id="mytextarea" name="postContentName"></textarea>
              </form>
            <h3>Post Tags</h3>
              <div class="row">
                <div class="form-group">
                  <div class="input-group">
                    <span class="input-group-addon">
                      <input value="sell" type="radio" name="postTag" checked="checked">Selling
                    </span>
                    <span class="input-group-addon">
                      <input value="buy" type="radio" name="postTag">Buying
                    </span>
                    <span class="input-group-addon">
                      <input value="lfr" type="radio" name="postTag">Looking for Ride
                    </span>
                    <span class="input-group-addon">
                      <input value="ofr" type="radio" name="postTag">Offering Ride
                    </span>
                    <span class="input-group-addon">
                      <input value="laf" type="radio" name="postTag">Lost &amp; Found
                    </span>
                    <span class="input-group-addon">
                      <input value="misc" type="radio" name="postTag">Miscelleanous
                    </span>
                  </div>
                </div>
              </div>
            <button id="submitPost" type="button" class="btn btn-default">Submit Post</button>
        </div>
      </form>
    </div>
</html>