<!DOCTYPE html>
<head>
	<!-- Stylesheets -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
	<link rel="stylesheet" href="./styles/plugins/content-filter.css">
	<link rel="stylesheet" href="./styles/forum.css">
	<!-- Javascripts -->
	<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
	<script src="https://cdn.socket.io/socket.io-1.4.5.js"></script>
	<script type="text/javascript" src="./scripts/header.js"></script>
	<script type="text/javascript" src="./scripts/plugins/moment.min.js"></script>
	<script type="text/javascript" src="./scripts/plugins/modernizr.js"></script>
	<script type="text/javascript" src="./scripts/plugins/jquery.mixitup.min.js"></script>
	<script type="text/javascript" src="./scripts/plugins/content-filter.js"></script>
	<script type="text/javascript" src="./scripts/forum.js"></script>
</head>
<body>
	<div id="header"></div>

	<header class="cd-header">
		<h1>Latest Posts</h1>
	</header>
	<main class="cd-main-content">
		<div class="cd-tab-filter-wrapper">
			<div class="cd-tab-filter">
				<ul class="cd-filters">
					<li class="placeholder"></li>
				</ul>
			</div>
		</div>
 
		<section class="cd-gallery">
			<ul id="all-posts">
				<li><!-- ... --></li>
				<li class="gap"></li>
			</ul>
			<div class="cd-fail-message">No results found</div>
		</section> <!-- cd-gallery -->
 
		<div class="cd-filter">
			<form>
				<div class="cd-filter-block">
					<h4>Filter Posts</h4>
				
					<ul class="cd-filter-content cd-filters list">
						<li>
							<input class="filter" data-filter=".sell" id="sell-cb" type="checkbox">
				    		<label class="checkbox-label" for="sell-cb">Selling</label>
						</li>
						<li>
							<input class="filter" data-filter=".buy" id="buy-cb" type="checkbox">
				    		<label class="checkbox-label" for="buy-cb">Buying</label>
						</li>
						<li>
							<input class="filter" data-filter=".lfr" id="lfr-cb" type="checkbox">
				    		<label class="checkbox-label" for="lfr-cb">Looking for Ride</label>
						</li>
						<li>
							<input class="filter" data-filter=".ofr" id="ofr-cb" type="checkbox">
				    		<label class="checkbox-label" for="ofr-cb">Offering Ride</label>
						</li>
						<li>
							<input class="filter" data-filter=".laf" id="laf-cb" type="checkbox">
				    		<label class="checkbox-label" for="laf-cb">Lost and Found</label>
						</li>
						<li>
							<input class="filter" data-filter=".misc" id="misc-cb" type="checkbox">
				    		<label class="checkbox-label" for="misc-cb">Miscellaneous</label>
						</li>
					<!-- filter content -->
					</ul> <!-- cd-filter-content -->
				</div> <!-- cd-filter-block -->
			</form>
 
			<a href="#" class="cd-close">Close</a>
		</div> <!-- cd-filter -->
 
		<a href="#" class="cd-filter-trigger">Filters</a>

	</main> <!-- cd-main-content -->
</body>