<!DOCTYPE html>
<html>
	<head>
		<title>Rosepoint</title>
		<!-- Stylesheets -->
		<link rel="stylesheet" type="text/css" href="./styles/user.css">
		<!-- Javascripts -->
		<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
		<script type="text/javascript" src="./scripts/index.js"></script>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
		<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
<script type="text/javascript" src="./scripts/header.js"></script>
	</head>
	<style>
table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    text-align: center;
}
th, td {
    padding: 5px;
}
</style>
	<body>
		<div id="header"></div>
		<div id="Title">
			<h1>Fake User (Will be Logged in User)</h1>
		</div>

		<form action="demo_form.asp" method="get">

		<table style="width:75%" align="center" class="table table-bordered">
  		<tr>
    		<th>Your Items for Sale</th>	
  		</tr>
  		<tr>
    		<td>This will be populated using db</td>
  		</tr>
		</table>

  		<table style="width:75%" align="center" class="table table-bordered">
  		<tr>
    		<th>Application Settings</th>
    		<th>Preferences</th>		
  		</tr>
  		<tr>
    		<td>Buyer Found Notifications</td>
    		<td><input type="checkbox" name="buyerNotifications" value="Bike"></input></td>
  		</tr>
  		<tr>
    		<td>Bid Notifications</td>
    		<td><input type="checkbox" name="bidNotifications" value="Bike"></input></td>
  		</tr>
  		<tr>
    		<td>Seller Notifications</td>
    		<td><input type="checkbox" name="sellerNotifications" value="Bike"></input></td>
  		</tr>
		</table>
		
	</body>
</html>