<!DOCTYPE html>
<html>
	<head>
		<title>Rosepoint</title>
		<!-- Stylesheets -->
		<link rel="stylesheet" type="text/css" href="./styles/user.css">
		<!-- Javascripts -->
		<script type="text/javascript" src="./scripts/plugins/jquery.min.js"></script>
		<script type="text/javascript" src="./scripts/index.js"></script>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
		<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
    <script type="text/javascript" src="./scripts/header.js"></script>
    <script type="text/javascript" src="./scripts/user.js"></script>
	</head>
	<style>
table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    text-align: center;
}
th, td {
    padding: 5px;
}
</style>
	<body>
		<div id="header"></div>
		<div id="Title">
			<h1 id="user-email"></h1>
		</div>

  		<table style="width:75%" align="center" class="table table-bordered">
  		<tr>
    		<th>Application Settings</th>
    		<th>Preferences</th>		
  		</tr>
  		<tr>
    		<td>New Buy Post</td>
    		<td><input type="checkbox" name="buyerNotifications" value="buy"></input></td>
  		</tr>
  		<tr>
    		<td>New Sell Post</td>
    		<td><input type="checkbox" name="bidNotifications" value="sell"></input></td>
  		</tr>
  		<tr>
    		<td>New Looking for Ride Post</td>
    		<td><input type="checkbox" name="sellerNotifications" value="lfr"></input></td>
  		</tr>
      <tr>
        <td>New Offering Ride Post</td>
        <td><input type="checkbox" name="sellerNotifications" value="ofr"></input></td>
      </tr>
      <tr>
        <td>New Lost and Found Post</td>
        <td><input type="checkbox" name="sellerNotifications" value="laf"></input></td>
      </tr>
      <tr>
        <td>New Miscellaneous Post</td>
        <td><input type="checkbox" name="sellerNotifications" value="misc"></input></td>
      </tr>
		</table>
    <div id="buttonContainer" style="width: 75%; position: relative; margin-left: auto; margin-right: auto;">
      <button type="button" style="position: absolute; right: 0px;" id="savePrefs" class="btn btn-info btn-lg">Save Preferences</button>
    </div>
		
	</body>
</html>