.cd-header {
  background-color: #800000;
}

.cd-gallery div {
  margin-bottom: 1.6em;
  margin-right: 1.6em;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1);
  display: none;
}

p {
  margin-right: .6em;
  margin-left: .6em;
}

.list li {
	list-style: none;
}